<header id="header">
  <!-- Nav -->
  <div id="nav">
    <!-- Main Nav -->
    <div id="nav-fixed">
      <div class="container">
        <!-- logo -->
        <div class="nav-logo p-20">
          <a routerLink="home"><h1 style="margin:auto 0">Web App</h1></a>
        </div>
        <!-- /logo -->

        <!-- nav -->
        <!-- <ul class="nav-menu nav navbar-nav">
          <li class="cat-1"><a [routerLink]="['/home/',cn]">Home</a></li>
        </ul> -->
        <!-- /nav -->
        
      </div>
    </div>
    <!-- /Main Nav -->

  </div>
  <!-- /Nav -->
</header>

<div class="container" style="padding-top: 30px;">
  <router-outlet></router-outlet>
</div>
